// --------------------------------------------------------------------------
// =footer

.footer--meta {
	@include setDarkBg($clr-medium-grey);

	p,
	li,
	address,
	.phone {
		font-size: 10px;
		line-height: 1.9;

		@include media($medium) {
			font-size: 14px;
			// line-height: 2.3;
		}
	}
}

.footer__heading {
	margin: 0 0 .25em;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;

	@include media($medium) {
		font-size: 14px;
	}
}

.footer__primary {
	@include media($medium) {
		display: inline-block;
		width: 70%;
		margin: 0 10% 0 0;
	}

	@include media($large) {
		width: 55%;
	}
}

.footer__about,
.footer__contact {
	margin: 0 0 1.5em;
}

.footer__about {
	@include media($large) {
		display: inline-block;
		vertical-align: top;
		width: 60%;
		margin-right: 10%;
	}
}

.footer__nav {
	@include media($medium) {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		margin: 0 0 1.5em;
	}

	@include media($large) {
		width: 35%;
	}

	&__col-1,
	&__col-2 {
		display: inline-block;
		vertical-align: top;
		width: 35%;

		@include media($medium-only) {
			width: 100%;
		}
	}

	&__col-1 {
		margin-right: 15%;
	}

	&__col-2 {
		@include media($medium-only) {
			border-top: 1px solid rgba(255, 255, 255, .3);
		}
	}

	li {
		margin: 0;

		font-size: 12px;
		font-weight: 800;
		line-height: 2.8;
		-webkit-font-smoothing: antialiased;

		&:not(:first-child) {
			border-top: 1px solid rgba(255, 255, 255, .3);
		}

		@include media($medium) {
			font-size: 14px;
		}

		a {
			&:link,
			&:visited {
				text-decoration: none !important;
			}
		}
	}
}

.footer__contact {
	@include media($large) {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}

	&__address,
	&__methods {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		@include media($large) {
			display: block;
			width: 100%;
		}
	}

	&__phone,
	&__fax,
	&__email {
		margin: 0;
	}
}

.footer__contact-link {
	display: block;
}

.footer__in {
	@include clearfix;
	margin: 0 1em;
	padding: 2em 0;

	@include media($medium) {
		margin: 0 2em;
		padding: vr(2) 0 vr(1);
	}

	@include media($xlarge) {
		margin: 0 4em;
	}
}

.footer--fineprint {
	@include setDarkBg($clr-grey-600);

	.footer__in {

		@include media($medium) {
			padding: 2em 0 1em;
		}
	}

	.social-media {
		margin: 0 0 .5em;

		@include media($medium) {
			float: right;
		}
	}

	.copyright,
	.credits {
		margin: 0;
		font-size: 8px;

		@include media($medium) {
			font-size: 13px;
		}
	}
}
