// --------------------------------------------------------------------------
// =global styles

.more {
	font-style: italic;
}

.go {
	&:after {
		@extend %icon-right;
		padding-left: .5rem;
	}
}

.ext {
	&:after {
		@extend %icon-external;
		padding-left: .5rem;
	}
}

// Z-levels

%z-depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

%z-depth-1-half {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

%z-depth-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

%z-depth-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

%z-depth-4 {
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

%z-depth-5 {
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

// --------------------------------------------------------------------------
// =backgrounds


%bg--dark-grey {
	background-color: $clr-grey-900;
	color: $clr-off-white;

	a {
		color: $clr-off-white;
		text-decoration: underline;

		&:focus,
		&:hover {
			color: $clr-white;
		}
	}
}

.bg--dark-grey {
	@extend %bg--dark-grey;
}

%bg--medium-grey {
	background-color: $clr-grey-700;
	color: $clr-off-white;

	a {
		color: $clr-off-white;
		text-decoration: underline;

		&:focus,
		&:hover {
			color: $clr-white;
		}
	}
}

.bg--medium-grey {
	@extend %bg--medium-grey;
}

%bg--lightest-grey {
	background-color: $clr-lightest-grey;
}

.bg--lightest-grey {
	@extend %bg--lightest-grey;
}


// --------------------------------------------------------------------------
// =heading-group

.heading-group {
	margin: 2rem 0 1.5rem;

	@include media($medium) {
		margin: 3rem 0 1.5rem;
	}

	&__title {
		margin: 0;
	}

	&__subtitle {
		margin: .125em 0 0;
	}
}
