// ---------------------------------------------------------------------------
// =masthead

.masthead {
	position: fixed;
	z-index: 100;
	top: 0;
	transition: top .2s ease-in-out;
	width: 100%;
	background: $clr-white;
	background: hsla(0, 100%, 100%, .96);
	//box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 5px 25px -5px rgba(0, 0, 0, .15);
	border-bottom: 1px solid $clr-lightest-grey;

	&.masthead--up {
		top: ($mh-height-small * -1); //masthead height

		@include media($medium) {
			top: ($mh-height-medium * -1);
		}

		@include media($large) {
			top: ($mh-height-large * -1);
		}

		.body--menu-open & {
			top: 0;
		}
	}

	&__in {
		position: relative;
		margin: 0 1em;

		@include media($medium) {
			width: $width-medium;
			margin: 0 auto;
		}

		@include media($large) {
			width: $width-large;
		}
	}
}

#logo {
	display: block;
	width: 9.75em;
	margin: 0;
	padding: 0;
	stroke-width: 0;

	transition: all .2s ease-in-out;
	
	font-size: 1em;

	@include media($medium) {
		//width: 16em;
		width: 18em;
	}

	@include media($large) {
		width: 18em;
		margin: 0;
	}

	img {
		max-width: 100%;
	}
}

.logo {
	display: block;
}

.body--menu-open {
	background-color: $clr-ui-link;
}
