// --------------------------------------------------------------------------
// =section (basic content building blocks)

.section {
	position: relative;
}

.section--padded {
	.section__in {
		padding: vr(1) 0;

		@include media($medium) {
			padding: vr(2) 0;
		}

		.firm & {
			padding: vr(2) 0;
		}
	}
}

.section__in {
	margin: 0 1em;
	padding: 1px 0;

	@include media($medium) {
		margin: 0 2em;
	}

	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.section__hdr {
	margin: 0 0 1.625em;
	text-align: center;
	border-bottom: 3px solid;
}

// applied to container for actual button
.section__button {
	text-align: center;
}

.section__ftr {

}

.section__subheading {
	margin: 0 0 1.5em;
	@include font-sans();
	text-transform: uppercase;
	font-size: em($fs-h3-small);
	letter-spacing: 1px;
	
	color: $clr-light-grey;

	@include media($medium) {
		margin: 0 0 1.5em;
		font-size: em($fs-h3-medium);
	}
}

.section__summary {

	p,
	li {
		@include typi($h4-map);
	}
}
