body {
	// background-color: $clr-lightest-grey;
}

#site {
	position: relative;
	overflow-x: hidden;
	padding-top: $mh-height-small; //masthead height
	
	background-color: $clr-white;

	@include media($medium) {
		padding-top: $mh-height-medium;
	}

	@include media($large) {
		padding-top: $mh-height-large;
	}
}
