// --------------------------------------------------------------------------
// html

html {
	@include typi-base();

	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	@include font-sans();
	
	color: $clr-ui-text;
}


// --------------------------------------------------------------------------
// content

p {
	margin: 0 0 vr(1);
}

ul {
	margin: 0 0 vr(1);

	ul {
		margin: 0;
	}
}

li {
	margin: 0 0 vr(.5);
}

figure {
	margin: 0 0 vr(1);
	
	img {
		width: 100%;
	}
}

figcaption {
	@include typi($small-map);

	margin: vr(.5) 0 0;

	color: $clr-medium-grey;	
	
	text-align: center;

	p {
		margin: 0;

		font-size: 1em;
	}
}

blockquote {
	@include font-serif(400, italic);

	margin: vr(2) 0;
	padding: vr(1) 0 vr(.5);
	quotes: '“' '”' '‘' '’';

	text-align: center;

	p {
		@include typi($h4-map);

		margin: 0 0 vr(1);
		padding: 0 7%;
		
		@include media($medium) {
			padding: 0 5%;
		}
	}

	.source {
		@include typi($small-map);
		@include font-sans();
		
		font-style: normal;
	}

	.author {
		@include font-sans(700);
		
		display: block;
	}
}

address {
	font-style: normal;
}
