// -------------------------------------------------------------------------
// Miscellaneous Variables

$mh-height-small:  57px;
$mh-height-medium: 94px;
$mh-height-large:  94px;


// Border radiuses

$radius-xsmall: 2px;
$radius-small:  4px;
$radius-medium: 6px;
$radius-large:  8px;
$radius-xlarge: 16px;

// Border thicknesses

$border-hairline: 1px;
$border-small: 2px;
$border-medium: 4px;
$border-large: 6px;
$border-xlarge: 8px;