@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300,300italic);
@include font-face(WebSymbols, '/ui/webfonts/WebSymbols');

@mixin font-sans($weight: 300, $style: normal) {
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	font-weight: $weight;
	font-style: $style;
}

@mixin font-serif($weight: 400, $style: normal) {
	font-family: georgia, serif;
	font-weight: $weight;
	font-style: $style;
}

// --------------------------------------------------------------------------
// WebSymbols

%icon-open-quote {
	font-family: Georgia;
	content: '\201c';
	display: inline-block;
	vertical-align: bottom;
	font-size: 5em;
	width: .5em;
	height: .62em;
}

%icon-menu { 
	font-family: 'WebSymbols';
	content: '\e812';
	font-weight: normal;
	font-style: normal;
}

%icon-fax { 
	font-family: 'WebSymbols';
	content: '\e80f';
	font-weight: normal;
	font-style: normal;
}

%icon-phone { 
	font-family: 'WebSymbols';
	content: '\e80a';
	font-weight: normal;
	font-style: normal;
}

%icon-email { 
	font-family: 'WebSymbols';
	content: '\e811';
	font-weight: normal;
	font-style: normal;
}

%icon-paper-plane { 
	font-family: 'WebSymbols';
	content: '\e810';
	font-weight: normal;
	font-style: normal;
}

%icon-twitter { 
	font-family: 'WebSymbols';
	content: '\e807';
	font-weight: normal;
	font-style: normal;
}

%icon-facebook { 
	font-family: 'WebSymbols';
	content: '\e808';
	font-weight: normal;
	font-style: normal;
}

%icon-linkedin { 
	font-family: 'WebSymbols';
	content: '\e809';
	font-weight: normal;
	font-style: normal;
}

%icon-gplus { 
	font-family: 'WebSymbols';
	content: '\e806';
	font-weight: normal;
	font-style: normal;
}

%icon-play { 
	font-family: 'WebSymbols';
	content: '\e804';
	font-weight: normal;
	font-style: normal;
}

%icon-youtube { 
	font-family: 'WebSymbols';
	content: '\e81a';
	font-weight: normal;
	font-style: normal;
}

%icon-vimeo { 
	font-family: 'WebSymbols';
	content: '\e805';
	font-weight: normal;
	font-style: normal;
}

%icon-pinterest { 
	font-family: 'WebSymbols';
	content: '\e814';
	font-weight: normal;
	font-style: normal;
}

%icon-instagram { 
	font-family: 'WebSymbols';
	content: '\e817';
	font-weight: normal;
	font-style: normal;
}

%icon-user { 
	font-family: 'WebSymbols';
	content: '\e813';
	font-weight: normal;
	font-style: normal;
}

%icon-up { 
	font-family: 'WebSymbols';
	content: '\e802';
	font-weight: normal;
	font-style: normal;
}

%icon-right { 
	font-family: 'WebSymbols';
	content: '\e801';
	font-weight: normal;
	font-style: normal;
}

%icon-down { 
	font-family: 'WebSymbols';
	content: '\e803';
	font-weight: normal;
	font-style: normal;
}

%icon-left { 
	font-family: 'WebSymbols';
	content: '\e800';
	font-weight: normal;
	font-style: normal;
}

%icon-arrow-up { 
	font-family: 'WebSymbols';
	content: '\e821';
	font-weight: normal;
	font-style: normal;
}

%icon-arrow-right { 
	font-family: 'WebSymbols';
	content: '\e820';
	font-weight: normal;
	font-style: normal;
}

%icon-arrow-down { 
	font-family: 'WebSymbols';
	content: '\e81c';
	font-weight: normal;
	font-style: normal;
}

%icon-arrow-left { 
	font-family: 'WebSymbols';
	content: '\e81d';
	font-weight: normal;
	font-style: normal;
}

%icon-pdf { 
	font-family: 'WebSymbols';
	content: '\e80b';
	font-weight: normal;
	font-style: normal;
}

%icon-document { 
	font-family: 'WebSymbols';
	content: '\e813';
	font-weight: normal;
	font-style: normal;
}

%icon-document-solid { 
	font-family: 'WebSymbols';
	content: '\e815';
	font-weight: normal;
	font-style: normal;
}

%icon-word { 
	font-family: 'WebSymbols';
	content: '\e80c';
	font-weight: normal;
	font-style: normal;
}

%icon-excel { 
	font-family: 'WebSymbols';
	content: '\e80d';
	font-weight: normal;
	font-style: normal;
}

%icon-powerpoint { 
	font-family: 'WebSymbols';
	content: '\e80e';
	font-weight: normal;
	font-style: normal;
}

%icon-archive { 
	font-family: 'WebSymbols';
	content: '\e816';
	font-weight: normal;
	font-style: normal;
}

%icon-video-camera { 
	font-family: 'WebSymbols';
	content: '\e81b';
	font-weight: normal;
	font-style: normal;
}

%icon-external { 
	font-family: 'WebSymbols';
	content: '\e819';
	font-weight: normal;
	font-style: normal;
}

%icon-download { 
	font-family: 'WebSymbols';
	content: '\e817';
	font-weight: normal;
	font-style: normal;
}

